doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/exam.js')
    script(src='/javascripts/jquery-3.6.4.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
  body
    block content
